*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

header{
    background-color: coral;
}

footer{
    background-color: cadetblue;
    border-top: 2px solid black;
}

.btn{
    padding: 0.3rem;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header{
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.footer{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.main{
    height: calc(100vh - 6rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: dimgrey;
}

.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid cadetblue;
}

.clicked{
    background-color: royalblue;
    color: white;
}

.clicked-bomb{
    background-color: crimson;
    color: white;
}